body {
	background-color: black;
	color: white;
}

h3 {
	font-weight: bold;
	text-decoration: underline;
	margin-top: 0;
}

.content {
	width: 750px;
	margin: auto;
	background-color: #080;	
	border-radius: 15px;
	border: 20px solid #631;
	padding: 10px;
}

#instructions {
	width: 750px;
	margin: auto;
	padding: 10px;
}

.panel {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 70px;
	border-bottom: 1px solid #003300;
	padding: 10px;
}

#money, #played, #won, #draw, #lost, #percentwon {
	color: yellow;
	font-weight: bold;
	margin-right: 15px;
}

.bet {
	width: 300px;
	float: right;
	border: 1px dotted #030;
	padding: 10px 15px;
	font-weight: bold;
	line-height: 1.8;
}

.bet label {
	color: navy;
	font-weight: normal;
	margin-right: 10px;
}

.status {
	width: 300px;
	float: left;
	padding: 5px;
	line-height: 1.5;
}

.main {
	height: 460px;
}

.red {
	color: #B00;	
	border: 1px solid #B00;
	padding: 5px;
}

.percent {
	font-weight: lighter;
}

#game {
    display: block;
    height: 220px;	
	margin: auto;
	padding: 10px;
}

#commands {
	margin: 20px auto;
	padding: 0 10px;
}

#debug {
	padding-left: 10px;
	margin-top: 15px;
}

#results {
	margin: 20px 10px 0 10px;
	height: 60px;
	padding: 10px;
	border-radius: 15px;
	border-left: 1px solid #030;
	border-top: 1px solid #030;
	border-right: 1px solid #0a0;
	border-bottom: 1px solid #0a0;	
}

#commands input {
	height: 50px;
	width: 100px;
	font-weight: bold;
}

#start, #done {
	display: none;
}

.hand {
	position: relative;
	display: block;
	width: 310px;
	height: 200px;
	background-color: #060;
	padding: 10px;
	border-radius: 15px;
	border-left: 1px solid #030;
	border-top: 1px solid #030;
	border-right: 1px solid #0a0;
	border-bottom: 1px solid #0a0;
}

#playerhand {
   float: left;
}

#dealerhand {
	float: right;	
}

.firstcard, .card {
	position: absolute;	
}

.cards {
	position: relative;	
}

.points {
	position: absolute;
	bottom: 10px;
}

